/resource/containers/x.x.x/app/amplitude.js
/resource/containers/x.x.x/app/preview/app/editor/static/preview-templates/amplitude.js
/resource/containers/x.x.x/app/editor/static/preview-templates/modular.js